$body-bg: rgb(24, 27, 37);
$main-color: #12cc01;
$txt-color: #fff;

$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 5.2rem;
$header-shrink-height: 4.4rem;

$border-radius: 30px;
$border-radius-small: 20px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Avenir-Roman", sans-serif;
